/*remover scrollbar*/

::-webkit-scrollbar {
  display: none;
}

body, ul, li, p{

    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;


}

/*Span logo ficticio*/

.logo{
  border: 1px solid black;
  padding: 10px;
}

/*retirar estilo de links*/

a{
  text-decoration: none;
  color: #585858;
}


/* determina que as imagens só darão display a 100% do container*/

img{
  max-width: 100%;
  display: block;
}

/* input */



/* Retirar estilo do menu*/

.menu li{
  list-style: none;
}

header{

    display: flex;
    width: 100%;
    background: gray;
    color: black;
    margin: o;
    justify-content: space-between;
    

}

.lista{
  margin-left: 3%;
}

.telefones{
  margin-right: 5%;
}

.telefones p{
  flex-direction: row;
  display: inline-flex;
  margin: 15px;
    
}

.container{
  flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;

}

/*cor dos títulos dos containers*/

h2{

  text-transform: uppercase;

}

.container-menu{
  flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;

}



.container-menu img{

    display: flex;
    width: 200px;
    height: 100px;
    margin: 10px;

}

.container img{

  display: flex;
  width: 100px;
  height: 200px;
  margin: 10px;

}

.menu{
    
    text-decoration: none;
    display: inline-flex;
}

/*cor do conteúdo*/

.menu a{
  color: black;
    text-decoration: none;
    text-transform: uppercase;
}

.menu li{
    margin-left: 10px;
}

.menu li a{
    display: block;
    padding: 10px;
}

/*cor do submenu*/

.sub-menu a{
  color: white;
}

/*container com videos*/
.container-videos{
  background: #c3c3c3;
  width: 100%;
}

/* videos */

.video{
  display: inline-flex;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 2%;
    margin-bottom: 2%;
}

/* descrição dos videos */

.descricao{
  display: inline-flex;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 2%;
    margin-bottom: 2%;
}

/* sessão de avaliações*/

.avaliacoes{
  margin: 5%;
    width: 50%;
}

.container-avaliacao{
  flex-direction: row;
    display: flex;
    justify-content: space-between;
}


/*slider*/

* {box-sizing:border-box}

/* container do Slideshow  */
.slideshow-container {
    justify-content: center;
  background: #c3c3c3;
  padding: 5%;
  display: flex;
}

/*tamanho das imagens no slider*/

.slideshow-container img{
  max-width: 100%;
  display: block;
  width: 824px;
  height: 290px;
}

/* Por Padrão, deixa as imagens escondidas */
.mySlides {
  display: none;
}

/* botões para passar as imagens */
.anterior, .proximo {
  cursor: pointer;
  position: absolute;
  top: 35%;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  display: none;
}


/* posicionar o botão próximo para a direita */
.proximo {
  right: 5%;
  border-radius: 3px 0 0 3px;
}

/* posicionar o botão anterior para a esquerda */
.anterior {
  left: 5%;
  border-radius: 3px 0 0 3px;
}

/* efeito de troca de cor com o passar do mouse */
.prev:hover, .next:hover {
  background: white;
}

/* Texto de Legenda */
.text {
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Numerador */
.numerador {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
}

/* Bullets para passar imagem*/
.dots{
  text-align: center;
    display: flex;
    justify-content: center;
    margin-top: -3%;
    margin-bottom: 5%;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  display: block;
}

.active, .dot:hover {
  background-color: #717171;
}

/* animação de Fading  */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;

}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

main{
  display: flex;
    width: 100%;
    justify-content: space-between;
}

.flex{

  display: flex;
  justify-content: space-between;

}


.flex a{
  text-align: center;
}


.flex > div{
  margin: 10px;
}

/* sinopses */

.container-sinopse {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 1%;
  width: 35%;
}

/*estilizando o footer*/

footer{
  display: flex;
  width: 100%;
  background:lightgray;
  margin-top: 5%;
  justify-content: center;
  text-align: center;
  flex-flow: column;
}


.flex-footer{

  display: flex;
  justify-content: space-around;
  color: black;
  margin: 30px;
  text-transform: uppercase;
  font-weight: bold;

}

/*padrozinar tamanho da sessão de fotos*/

.sessao-foto img{
  width: 150px;
  height: 200px;
}

/*posicionar a imagem a direita*/

.flex .imagem-lateral{
  width: 325px;
  height: 212px;
  display: flex;
  align-content: center;
  justify-content: flex-end;
}

.container .imagem-lateral{
  justify-content: flex-end;
}

/*estilo do menu nav*/

/*espaçamento*/

.site-nav {
  padding: 10px 20px;
}

.menu {
  list-style: none;
  padding-left: 0;
  margin-top: 10px;

}
.menu a {
  padding: 10px 10px;
  display: block;
  position: relative;
}

.menu ul {
  padding-left: 0;
  list-style: none;
}
.menu li {
  position: relative;
}
.menu li:hover > .sub-menu {
  display: block;
}
.menu .sub-menu {
  background: rgb(2, 0, 133);
  color: white;
  display: none;
}

  /* efeito hover para display do submenu*/
  .menu > li {
      display: inline-block;
  }
  .menu li:hover > .sub-menu {
      opacity: 1;
      visibility: visible;
      transform: scaleY(1);
  }
  .menu .sub-menu {
      min-width: 200px;
      display: block;
      z-index: 1;
      visibility: hidden;
      transition: all 0.2s ease-in;
      transform: scaleY(.5);
      transform-origin: top;
      position: absolute;
      left: 0;
      top: 100%;
      color: white;
  }
  .menu li li .sub-menu {
      top: 0;
      left: 100%;
  }
  .menu li li .sub-menu {
      top: 0;
      left: 100%;
  }
          



